<section class = "forms text-center">
      <p class="h4 mb-4">Edit Room</p>
      <%= form_with model: [@coworkingspace, @room] do |f| %>
      <div> Type of Space : <%= f.select :types_of_spaces,["Desk","Open Space","Meeting Room"],required: true, class:"form-control mb-4" %> </div>
      <div> Image: <%= f.file_field :pic, class:"form-control mb-4" %> </div>
      <div> Available: <%= f.check_box :available, class: "form-control mb-4" %> </div>
      <p><div><button class = "btn btn-warning btn-block" type="submit">Update Room</button></div></p>
      <%end%>
  </section>
